<div class="dragged-step flex-column" *ngFor="let step of steps">
  <ng-container *ngIf="step.kind==='keyword-step'">
    <div class="full-width keyword-step-main-grid m-l-20">
      <span class="keyword-cell">{{ getOptionLabel(step.keyword) }}</span>
      <span class="action-cell" [innerHTML]="step.styledAction | safeRichContent"></span>
    </div>
  </ng-container>
</div>
