.attributes {
  display: grid;
  grid-template-columns: max-content 1fr max-content 1fr;
  grid-template-rows: auto;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  align-items: center;
}

.label {
  color: var(--label-color);
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

.spinner {
  display: flex;
  justify-content: center;
}
