.section-title {
  text-transform: uppercase;
  color: var(--current-workspace-main-color);
  font-size: 12px;
  font-weight: 600;
}

.section-content {
  border-left: 2px solid var(--container-border-color);
  padding: 0 10px 10px 10px;
}
