.rows {
  width: 250px;
  pointer-events: none;
}

.row {
  height: 30px;
  border: solid 1px lightgrey;
  padding: 3px 3px 3px 10px;
  background-color: white;
}

.cannot-drag-icon {
  font-size: 20px;
  color: darkred;
  transform: translateY(-20px);
}
