<div class="container-background-color container flex-column">
  <div *ngFor="let item of _items"
       class="p-4 __hover_pointer txt-ellipsis flex-row item"
       [class.item-selected]="item.id === _selectedItem"
       [attr.data-test-item-id]="'item-' + item.id"
       (click)="change(item.id)">
    <span class="m-l-5 txt-ellipsis">
      {{item.label}}
    </span>
  </div>
</div>
