<div class="full-width full-height flex-column" #field
     [ngClass]="getComponentClasses()"
     (click)="edit()">
  <div class="m-auto">
    <i *ngIf="hasIcon; else placeholderLabel"
       nz-icon
       [nzType]="icon"
       nzTheme="outline"
       class="table-icon-size icon current-workspace-main-color">
    </i>
    <ng-template #placeholderLabel>
      <span class="sqtm-placeholder">{{placeholder | translate}}</span>
    </ng-template>
  </div>
</div>

<ng-template #template>
  <sqtm-core-icon-picker
      [icons]="icons"
      [selectedIcon]="icon"
      (confirmEvent)="handleIconClick($event)">
  </sqtm-core-icon-picker>
</ng-template>
