@transparent-border-bottom: 1px solid transparent;

.icon {
  padding: 3px;
}

div {
  &.read {
    border-bottom: @transparent-border-bottom;
    display: flex;
    overflow: hidden;
  }

  &.editable {
    span {
      border-bottom: 1px dashed transparent;
      cursor: pointer;
    }
    &:hover {
      span {
        border-bottom-color: var(--label-color);
      }
    }
  }
}
