<ng-container *ngIf="detailedTestStepViewService.componentData$ | async as componentData">
  <ng-container *ngIf="detailedTestStepViewService.currentStepData$ | async as currentStepData">
    <div *ngIf="currentStepData.kind==='action-step'" class="full-width full-height p-10" style="overflow: auto">
      <sqtm-app-detailed-action-step [actionStep]="currentStepData"
                                     [editable]="componentData.permissions.canWrite && componentData.milestonesAllowModification"
                                     [customFields]="extractCustomFields(componentData.projectData.customFieldBinding)"
      ></sqtm-app-detailed-action-step>
    </div>
    <div class="full-width full-height p-10" style="overflow: auto" *ngIf="currentStepData.kind==='call-step'">
      <sqtm-app-detailed-call-step
        [editable]="componentData.permissions.canWrite && componentData.milestonesAllowModification"
        [callTestStep]="currentStepData"
        [testCase]="componentData.testCase">
      </sqtm-app-detailed-call-step>
    </div>
    <div class="full-width full-height p-10" style="overflow: auto"
         *ngIf="currentStepData.kind==='create-action-step-form'">
      <sqtm-app-detailed-create-step-form
        [testCaseId]="componentData.testCase.id"
        [step]="currentStepData"
        [customFields]="extractCustomFields(componentData.projectData.customFieldBinding)">
      </sqtm-app-detailed-create-step-form>
    </div>
  </ng-container>
</ng-container>

