<div class="full-height overlay-column-proto-selector container-border" style="width: 380px"> <!--fixed size to avoid nasty jiggling on firefox-->
  <sqtm-app-column-prototype-selector [columnPrototypes]="columnPrototypes"></sqtm-app-column-prototype-selector>
</div>

