.add-step-grid {
  display: grid;
  grid-template-columns: max-content auto;
  grid-column-gap: 10px;
  grid-template-rows: 55px;
  align-items: start;

  & .label-and-select-field {
    display: grid;
    grid-template-columns: max-content 150px;
    grid-column-gap: 10px;
    align-items: center;
  }
}

.last-position-drop-zone {
  min-height: 100px;
  flex-grow: 1;
}
