<div class="flex-column full-height full-width" style="overflow-y: hidden;">
  <div class="flex-row p-r-10" style="justify-content: space-between; align-items: center;">
    <div class="sqtm-large-grid-container-title flex-column">
      {{ 'sqtm-core.test-case-workspace.title.test-steps' | translate }}
    </div>
    <div class="flex-row">
      <i nz-icon nzType="sqtm-core-generic:read" nzTheme="outline"
         class="action-icon-size current-workspace-main-color __hover_pointer"
         [nz-tooltip]="'sqtm-core.test-case-workspace.test-steps.button.script-preview' | translate"
         (click)="showScriptPreview()"
         [attr.data-test-button-id]="'preview-script-icon'">
      </i>
      <sqtm-core-toggle-icon class="m-l-10"
                             [attr.data-test-toolbar-button-id]="'delete-button'"
                             [active]="hasSelectedSteps$ | async"
                             (clickedInActiveMode)="deleteTestSteps()">
        <i nz-icon nzType="sqtm-core-generic:delete" nzTheme="outline"
           nz-tooltip class="action-icon-size"
           [nzTooltipTitle]="'sqtm-core.generic.label.delete'|translate"
           nzTooltipPlacement="bottom"></i>
      </sqtm-core-toggle-icon>
    </div>
  </div>
  <div *ngIf="editable"
       class="add-step-grid p-r-10" [formGroup]="addKeywordStepFormGroup">
    <div class="label-and-select-field">
      <sqtm-core-label
        [text]="'sqtm-core.test-case-workspace.test-steps.label.add-keyword-step' | translate">
      </sqtm-core-label>
      <sqtm-core-select-field [formGroup]="addKeywordStepFormGroup" [fieldName]="'keyword'"
                              [options]="getDisplayedKeyword()">
      </sqtm-core-select-field>
    </div>
    <div *ngIf="actionWordLibraryActive; else simpleActionField">
      <sqtm-core-action-autocomplete-field
        #actionField
        [formGroup]="addKeywordStepFormGroup"
        [fieldName]="'action'"
        [placeholder]="'sqtm-core.test-case-workspace.test-steps.label.enter-action' | translate"
        [options]="matchingActionWords"
        (valueChanged)="getMatchingActionWords($event)"
        (confirmValueEvent)="addStep($event)">
      </sqtm-core-action-autocomplete-field>
    </div>
    <ng-template #simpleActionField>
      <sqtm-core-action-text-field #actionField [formGroup]="addKeywordStepFormGroup" [fieldName]="'action'"
                            [placeholder]="'sqtm-core.test-case-workspace.test-steps.label.enter-action' | translate"
                            (keyup.enter)="addStep($event)">
      </sqtm-core-action-text-field>
    </ng-template>
  </div>
  <div class="full-width full-height flex-column" style="overflow-y: auto; overflow-x: hidden"
       [sqtmCoreDraggableList]="origin"
       [dragEnabled]="editable"
       [draggedContentRenderer]="draggedStepComponent"
       (dragStart)="dragStart($event)"
       (dragOver)="dragOver($event)"
       (dragCancel)="dragCancel()"
       (dragLeave)="dragLeave($event)"
       (drop)="drop($event)">
    <div class="full-width p-r-10">
      <ng-container *ngFor="let step of filterKeywordSteps(); trackBy:trackStepFn">
        <sqtm-app-keyword-step *ngIf="step.kind === 'keyword-step'"
                               [keywords]="keywords"
                               [keywordStep]="step"
                               [editable]="editable"
                               [linkable]="linkable"
                               [autocompleteActive]="actionWordLibraryActive">
        </sqtm-app-keyword-step>
      </ng-container>
    </div>
    <div class="last-position-drop-zone" [sqtmCoreDraggableListItem]="lastPositionDropZone" [enableDrag]="false"></div>
  </div>
</div>
