<nz-select class="full-width" [(ngModel)]="_model" (ngModelChange)="changeOperation()">
  <nz-option *ngFor="let operation of availableOperations" [nzValue]="operation"
             [nzLabel]="'sqtm-core.entity.query.operation.' + operation|translate|capitalize"></nz-option>
</nz-select>
