<div class="rows">
  <ng-container *ngFor="let dataRow of dataRows">
    <div [attr.data-test-grid-row-dragged-content]="dataRow.id" class="row txt-ellipsis">
      {{dataRow.data['NAME']}}
    </div>
  </ng-container>
</div>
