<sqtm-core-customisable-dialog
  [sqtmCoreWorkspace]="'campaign-workspace'"
  [localTheme]="true"
  [titleKey]="configuration.titleKey"
  [dialogId]="'campaign-tree-picker-dialog'"
  (confirm)="confirm()">
  <sqtm-core-dialog-body>
    <ng-container [ngSwitch]="configuration.requiredRowType">
      <sqtm-core-iteration-picker *ngSwitchCase="'iteration'"
                                  [initialSelectedNodes]="configuration.selectedNodes"
                                  (selectedRows)="changeTreeSelection($event)">

      </sqtm-core-iteration-picker>
      <sqtm-core-restricted-campaign-picker *ngSwitchCase="'CAMPAIGN'"
                                            [initialSelectedNodes]="configuration.selectedNodes"
                                            (selectedRows)="changeTreeSelection($event)">
      </sqtm-core-restricted-campaign-picker>
      <sqtm-core-campaign-picker *ngSwitchDefault [initialSelectedNodes]="configuration.selectedNodes"
                                 (selectedRows)="changeTreeSelection($event)"></sqtm-core-campaign-picker>
    </ng-container>
  </sqtm-core-dialog-body>
</sqtm-core-customisable-dialog>
