<div class="flex-row full-height full-width" [ngClass]="getComponentClasses()" *ngIf="!edit"
     (click)="enableEditMode()">
          <span class="field-value-color" *ngIf="value; else placeHolderTemplate"
                nz-tooltip [sqtmCoreLabelTooltip]="value" [ellipsis]="true">
        {{value}}
      </span>
  <ng-template #placeHolderTemplate>
            <span>
             -
            </span>
  </ng-template>
  <i *ngIf="editable" class="pencil-icon flex-fixed-size" nz-icon [nzType]="'edit'" nzTheme="outline"></i>
</div>
<div class="flex-column" [ngClass]="getComponentClasses()" *ngIf="edit">
  <div class="flex full-width full-height" style="align-items: center">
    <input #input nz-input
           [formControl]="formControl"
    />

    <button nz-button nzType="primary" (click)="confirm()"><i nz-icon nzType="check"></i></button>
    <button nz-button nzType="default" (click)="cancel()"><i nz-icon nzType="close"></i></button>
    <button nz-button nzType="default" (click)="choose()"><i nz-icon nzType="sqtm-core-test-case:browse"></i></button>
  </div>
    <div class="flex-column full-width has-error m-t-10" *ngIf="dirty && formControl.errors">
      <span *ngFor="let error of getErrors(formControl.errors)" class="sqtm-core-error-message">{{error}}</span>
    </div>
</div>
