<ng-container *ngIf="componentData$|async as componentData">
  <div class="full-width full-height" sqtmCoreAnchorResize>
    <div class="full-width full-height p-r-15" style="overflow-y: auto" sqtmCoreAnchorScroll>
      <nz-collapse [nzBordered]="false" class="entity-view-collapse-panel">

        <nz-collapse-panel [sqtmCoreAnchorPanel]="'information'" [sqtmCoreAnchorCollapsePanel]="'information'"
                           [nzHeader]="informationTitle" class="anchor">
          <ng-template #informationTitle>
            <div
              class="entity-view-collapse-panel-title">{{'sqtm-core.generic.label.information.plural' | translate}}</div>
          </ng-template>
          <sqtm-app-test-suite-information-panel
          [testSuiteViewComponentData$]="componentData$"
          [customFieldData]="customFieldData">
          </sqtm-app-test-suite-information-panel>
        </nz-collapse-panel>

        <nz-collapse-panel [sqtmCoreAnchorPanel]="'statistics'"
                           [sqtmCoreAnchorCollapsePanel]="'statistics'"
                           [nzHeader]="statisticsTitle"
                           sqtmCoreAnchorLastPanel>
          <ng-template #statisticsTitle>
            <div
              class="entity-view-collapse-panel-title">{{'sqtm-core.campaign-workspace.label.statistics' | translate}}
            </div>
          </ng-template>
          <sqtm-app-campaign-statistics-panel
            [componentData]="componentData.testSuite"
            [projectData]="componentData.projectData">
          </sqtm-app-campaign-statistics-panel>

        </nz-collapse-panel>
        <div id="sqtm-core-ghost-div" sqtmCoreAnchorGhostDiv></div>
      </nz-collapse>
    </div>
  </div>
</ng-container>
