<ng-container [formGroup]="criteriaFormGroup" *ngIf="tagValues$|async as tagValues">
  <nz-select style="width: 100%" nzMode="multiple"
             [nzAllowClear]="true"
             [nzPlaceHolder]="'sqtm-core.generic.label.choose'|translate"
             [nzOptions]="tagValues"
             [formControlName]="criteriaFormControlName"></nz-select>
</ng-container>
