<ng-container *ngIf="componentData$|async as componentData">
  <div class="full-width full-height" sqtmCoreAnchorResize>
    <div class="full-width full-height p-r-15" style="overflow-y: auto" sqtmCoreAnchorScroll>
      <nz-collapse [nzBordered]="false" class="entity-view-collapse-panel">
        <nz-collapse-panel [sqtmCoreAnchorPanel]="'dashboard'" [sqtmCoreAnchorCollapsePanel]="'dashboard'"
                           [nzHeader]="dashboardTitle" class="anchor">
          <ng-template #dashboardTitle>
            <div class="flex-row full-width" style="justify-content: space-between; overflow: hidden">
              <div class="entity-view-collapse-panel-title flex-fixed-size m-r-10">
                <span
                  *ngIf="componentData.requirementLibrary.dashboard; else defaultDashboardTitle">{{componentData.requirementLibrary.dashboard.name}}
                  </span>
                <ng-template #defaultDashboardTitle>
                  <span>{{'sqtm-core.generic.label.dashboard.title' | translate}}</span>
                </ng-template>
              </div>
              <ng-container
                *ngIf="componentData.requirementLibrary.dashboard || componentData.requirementLibrary.statistics">
                <div class="txt-ellipsis m-r-10 m-t-2 generated-label label-color">
                  {{'sqtm-core.generic.date.prefix.generated-on'|translate|capitalize}} {{componentData.requirementLibrary.generatedDashboardOn | date:'medium'}}
                </div>
                <button class="flex-fixed-size" [attr.data-test-component-id]="'refresh-button'"
                        nz-button [nzType]="'primary'" [nzSize]="'small'"
                        nz-tooltip [nzTooltipTitle]="'sqtm-core.generic.label.refresh' | translate | capitalize"
                        (click)="refreshStats($event, componentData)">
                <span>
                  <i nz-icon nzType="sqtm-core-generic:refresh" nzTheme="outline"></i>
                </span>
                </button>
              </ng-container>
              <button
                *ngIf="!componentData.requirementLibrary.shouldShowFavoriteDashboard"
                class="flex-fixed-size m-l-5" [attr.data-test-component-id]="'favorite-button'"
                nz-button [nzType]="'primary'" [nzSize]="'small'"
                nz-tooltip [nzTooltipTitle]="'sqtm-core.generic.label.favorite' | translate"
                (click)="displayFavoriteDashboard($event)">
                <span>
                  {{'sqtm-core.generic.label.favorite' | translate}}
                </span>
              </button>
              <button *ngIf="componentData.requirementLibrary.shouldShowFavoriteDashboard" class="flex-fixed-size m-l-5"
                      [attr.data-test-component-id]="'favorite-button'"
                      nz-button [nzType]="'primary'" [nzSize]="'small'"
                      nz-tooltip [nzTooltipTitle]="'sqtm-core.generic.label.default' | translate"
                      (click)="displayDefaultDashboard($event)">
                {{'sqtm-core.generic.label.default' | translate}}
              </button>
            </div>
          </ng-template>

          <sqtm-app-requirement-statistics-panel *ngIf="componentData.requirementLibrary.statistics"
                                                 [statistics]="componentData.requirementLibrary.statistics"
                                                 [scope]="this.getStatisticScope(componentData.requirementLibrary)"
                                                 [milestoneModeData]="referentialDataService.milestoneModeData$|async">
          </sqtm-app-requirement-statistics-panel>
          <div *ngIf="componentData.requirementLibrary.dashboard" style="height: 84vh">
            <ng-container *ngIf="componentData.requirementLibrary.dashboard.chartBindings.length !== 0 ||
            componentData.requirementLibrary.dashboard.reportBindings.length !== 0; else emptyDashboardMessage">
              <sqtm-app-custom-dashboard
                [dashboardId]="componentData.requirementLibrary.dashboard.id"
                [chartBindings]="getChartBindings(componentData.requirementLibrary.dashboard)"></sqtm-app-custom-dashboard>
            </ng-container>
            <ng-template #emptyDashboardMessage>
              <div style="height: 84vh; text-align: center">
                  <span style="font-weight: 600">
                    {{'sqtm-core.custom-report-workspace.dashboard-view.empty-favorite.label' | translate}}
                  </span></div>
            </ng-template>
          </div>
          <div *ngIf="!componentData.requirementLibrary.dashboard && !componentData.requirementLibrary.statistics" style="height: 84vh; text-align: center">
            <span style="font-weight: 600">
            {{'sqtm-core.generic.workspace.messages.add-favorite-dashboard' | translate}}
          </span>
          </div>
        </nz-collapse-panel>
        <nz-collapse-panel [sqtmCoreAnchorPanel]="'information'" [sqtmCoreAnchorCollapsePanel]="'information'"
                           sqtmCoreAnchorLastPanel [nzHeader]="informationTitle" class="anchor">
          <ng-template #informationTitle>
            <div
              class="entity-view-collapse-panel-title">{{'sqtm-core.test-case-workspace.title.information' | translate}}</div>
          </ng-template>
          <div class="requirement-library-information-grid">
            <sqtm-core-label
              [text]="'sqtm-core.entity.generic.description.label' | translate">
            </sqtm-core-label>
            <sqtm-core-editable-rich-text [size]="'small'" [border]="true"
                                          [editable]="false"
                                          [sqtmCoreEntityViewEditableRichTextField]="'description'"
                                          [attr.data-test-field-id]="'description'"
                                          [placeholder]="'sqtm-core.generic.editable.description.placeholder'|translate">
            </sqtm-core-editable-rich-text>
          </div>
        </nz-collapse-panel>
        <div id="sqtm-core-ghost-div" sqtmCoreAnchorGhostDiv></div>
      </nz-collapse>
    </div>
  </div>
</ng-container>
