<ng-container *ngIf="testCaseViewComponentData">
    <div class="flex-row full-width full-height">
        <sqtm-core-editable-ta-test class="m-r-10" #taTestField [testCaseId]="testCaseViewComponentData.testCase.id"
                                    [value]="getAutomatedTestName(testCaseViewComponentData)"
                                    [editable]="editable"
                                    (confirmEvent)="changeAutomatedTest($event)">
        </sqtm-core-editable-ta-test>
    </div>
</ng-container>
