<sqtm-core-creation-dialog
  (add)="addEntity()"
  (addAnother)="addAnother()"
  [asyncTaskRunning]="loading$ | async"
  [attr.data-test-dialog-id]="'new-entity'">
  <div class="m-10" [formGroup]="formGroup">
    <div class="sqtm-core-dialog-form">
      <label class="label label__align_right">{{'sqtm-core.entity.generic.name.label' | translate}}</label>
      <sqtm-core-text-field
        [initialFocus]="true"
        [formGroup]="formGroup"
        [fieldName]="'name'"
        [serverSideFieldValidationError]="serverSideValidationErrors">
      </sqtm-core-text-field>
      <label class="label label__align_right">{{'sqtm-core.generic.label.label' | translate}}</label>
      <sqtm-core-text-field
        [formGroup]="formGroup"
        [fieldName]="'label'"
        [serverSideFieldValidationError]="serverSideValidationErrors">
      </sqtm-core-text-field>
      <label class="label label__align_right">{{'sqtm-core.entity.custom-field.code.label' | translate}}</label>
      <sqtm-core-text-field
        [formGroup]="formGroup"
        [fieldName]="'code'"
        [serverSideFieldValidationError]="serverSideValidationErrors">
      </sqtm-core-text-field>
      <label
        class="label label__align_right">{{'sqtm-core.entity.custom-field.input-type.label' | translate}}</label>
      <sqtm-core-select-field
        [formGroup]="formGroup"
        [fieldName]="'inputType'"
        [options]="inputTypeOptions"
        [serverSideFieldValidationError]="serverSideValidationErrors">
      </sqtm-core-select-field>
      <ng-container *ngIf="! isCheckbox">
        <label class="label label__align_right">{{'sqtm-core.entity.custom-field.optional.label' | translate}}</label>
        <span nz-checkbox style="margin: auto 0; justify-self: start"
              [formGroup]="formGroup" formControlName="optional" ngDefaultControl
              [attr.data-test-field-name]="'optional'">
          </span>
      </ng-container>

      <label *ngIf="!isDropdownList" class="label label__align_right">{{'sqtm-core.entity.custom-field.default-value.label' | translate}}</label>
      <ng-container *ngIf="!isDropdownList" [ngSwitch]="formGroup.get('inputType').value">
        <ng-container *ngSwitchCase="'PLAIN_TEXT'">
          <sqtm-core-text-field
            [formGroup]="formGroup"
            [fieldName]="'defaultText'"
            [serverSideFieldValidationError]="serverSideValidationErrors">
          </sqtm-core-text-field>
        </ng-container>
        <ng-container *ngSwitchCase="'CHECKBOX'">
          <sqtm-core-select-field
            [formGroup]="formGroup"
            [fieldName]="'defaultChecked'"
            [options]="defaultCheckedOptions"
            [serverSideFieldValidationError]="serverSideValidationErrors">
          </sqtm-core-select-field>
        </ng-container>
        <ng-container *ngSwitchCase="'DATE_PICKER'">
          <sqtm-core-date-picker
            [formGroup]="formGroup"
            [fieldName]="'defaultDate'"
            [serverSideFieldValidationError]="serverSideValidationErrors"
            [allowEmptyValue]="! isMandatory">
          </sqtm-core-date-picker>
        </ng-container>
        <ng-container *ngSwitchCase="'RICH_TEXT'">
          <sqtm-core-rich-text-field
            [formGroup]="formGroup"
            [fieldName]="'defaultRichText'"
            [serverSideFieldValidationError]="serverSideValidationErrors">
          </sqtm-core-rich-text-field>
        </ng-container>
        <ng-container *ngSwitchCase="'TAG'">
          <sqtm-core-select-field
            [formGroup]="formGroup"
            [fieldName]="'defaultTags'"
            [mode]="'tags'"
            [serverSideFieldValidationError]="serverSideValidationErrors">
          </sqtm-core-select-field>
        </ng-container>
        <ng-container *ngSwitchCase="'NUMERIC'">
          <sqtm-core-text-field
            [formGroup]="formGroup"
            [fieldName]="'defaultNumeric'"
            [serverSideFieldValidationError]="serverSideValidationErrors">
          </sqtm-core-text-field>
        </ng-container>
      </ng-container>
    </div>
    <ng-container [formGroup]="dropdownListFormGroup" *ngIf="isDropdownList">
      <label class="block-title">{{'sqtm-core.entity.option.label.plural' | translate}}</label>
      <div class="block-border m-t-10" >
        <div class="full-column-span sqtm-core-dialog-form">
          <label class="label label__align_right">{{'sqtm-core.entity.generic.name.label' | translate}}</label>
          <sqtm-core-text-field
            [initialFocus]="true"
            [formGroup]="dropdownListFormGroup"
            [fieldName]="'dropdownListOptionName'"
            [serverSideFieldValidationError]="serverSideValidationErrors">
          </sqtm-core-text-field>
          <label class="label label__align_right">{{'sqtm-core.entity.custom-field.code.label' | translate}}</label>
          <sqtm-core-text-field
            [formGroup]="dropdownListFormGroup"
            [fieldName]="'dropdownListOptionCode'"
            [serverSideFieldValidationError]="serverSideValidationErrors">
          </sqtm-core-text-field>
          <div></div>
          <button style="width: max-content"
                  [attr.data-test-dialog-button-id]="'add-option'"
                  nz-button nzType="primary"
                  (click)="addDropdownListOption()">
            {{'sqtm-core.entity.custom-field.add-option.label' | translate}}
          </button>
        </div>

        <div class="full-column-span">
          <sqtm-core-grid></sqtm-core-grid>
        </div>
        <span *ngIf="hasDropdownListDefaultError$ | async"
              class="sqtm-core-error-message"
              [attr.data-test-error-key]="'default-option-required'">
          {{'sqtm-core.error.custom-field.dropdown-list.required-default-option.generic' | translate}}
        </span>
      </div>
    </ng-container>
  </div>
</sqtm-core-creation-dialog>
