<ng-container *ngIf="componentData$ | async as componentData; else loading" [sqtmCoreViewId]="'user-view'">

  <div class="flex full-height full-width neutral-background-color">
    <div class="flex-column full-width">
      <ng-content select="[projection=context-title]">
      </ng-content>
      <div class="flex-row full-width">
      <sqtm-app-admin-view-header class="full-width p-t-10 p-r-20"
        [entityNameKey]="'login'"
        [dropdownMenu]="userMenu"
        [showMenu]="canDeleteUser$ | async"
        [showsNameChangeConfirmDialog]="isViewedUserSelf$ | async"
        [nameChangeConfirmationMessageKey]="'sqtm-core.administration-workspace.users.dialog.message.change-current-user-login-warning'"
        (nameChanged)="handleNameChanged()">
        <ng-content select="[projection=context-buttons]">
        </ng-content>
      </sqtm-app-admin-view-header>
      </div>
      <div class="flex-row full-width full-height">
        <div class="flex-fixed-size side-bar">
          <div class="anchor-bar">
            <sqtm-core-anchor>
              <sqtm-core-anchor-group [id]="'content'">
                <sqtm-core-anchor-link
                  nz-tooltip nzTooltipPlacement="right"
                  sqtmCoreDefaultAnchorLink
                  [id]="'information'"
                  [nzTooltipTitle]="'sqtm-core.generic.label.information.plural' | translate"
                  [linkHref]="'content'"
                  [iconName]="'sqtm-core-administration:information'">
                </sqtm-core-anchor-link>
                <sqtm-core-anchor-link
                  nz-tooltip nzTooltipPlacement="right"
                  [id]="'authorisations'"
                  [nzTooltipTitle]="'sqtm-core.entity.user.authorisation.plural' | translate"
                  [linkHref]="'content'"
                  [iconName]="'sqtm-core-administration:project'">
                  <ng-container *ngIf="userViewService.authorisationCount$ | async as authorisationCount">
                    <div *ngIf="authorisationCount > 0" class="anchor-counter"
                         [attr.data-test-component-id]="'user-view-authorisation-count'">
                      <span>{{authorisationCount}}</span>
                    </div>
                  </ng-container>
                </sqtm-core-anchor-link>
                <sqtm-core-anchor-link
                  nz-tooltip nzTooltipPlacement="right"
                  [id]="'teams'"
                  [nzTooltipTitle]="'sqtm-core.entity.team.plural' | translate"
                  [linkHref]="'content'"
                  [iconName]="'sqtm-core-administration:team'">
                  <ng-container *ngIf="userViewService.teamCount$ | async as teamCount">
                    <div *ngIf="teamCount > 0" class="anchor-counter"
                         [attr.data-test-component-id]="'user-view-team-count'">
                      <span>{{teamCount}}</span>
                    </div>
                  </ng-container>
                </sqtm-core-anchor-link>
              </sqtm-core-anchor-group>
            </sqtm-core-anchor>
          </div>
        </div>
        <div class="admin-contextual-content-body full-height full-width">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>

  <nz-dropdown-menu #userMenu="nzDropdownMenu">
    <ul nz-menu [attr.data-test-menu-id]="'user-menu'">
      <li nz-menu-item
          class="sqtm-core-error-message"
          [attr.data-test-menu-item-id]="'delete-user'"
          (click)="handleDelete()">
        {{ 'sqtm-core.generic.label.delete' | translate }}
      </li>
    </ul>
  </nz-dropdown-menu>
</ng-container>

<ng-template #loading>
  <sqtm-core-full-page-loading-icon></sqtm-core-full-page-loading-icon>
</ng-template>
