<div #field
     [class.edit]="editMode"
     [class.disabled]="disabled"
     class="full-height full-width field-container p-5 __hover_pointer flex-row"
     (click)="edit()">
  <span class="txt-ellipsis text-field"
        [attr.data-test-component-id]="'grouped-multi-list-display-value'"
        [class.sqtm-placeholder]="isPlaceHolderVisible">
    {{displayValue}}
  </span>
  <span class="clear-button"
        [class.visible]="isClearButtonVisible"
        (click)="clearButtonClicked($event)">
    <i nz-icon [nzType]="'close-circle'" nzTheme="fill"></i>
  </span>
</div>

<ng-template #template>
  <sqtm-core-grouped-multi-list
      (itemSelectionChanged)="handleItemSelectionChange($event)"
      [height]="height"
      [width]="multiListWidth"
      [listGroups]="listGroups"
      [listItems]="listItems"
      [searchable]="searchable"
      [virtualScroll]="virtualScroll"
      [separateSelectedItems]="separateSelectedItems"
      [numberOfSelectedItemsToDisplay]="numberOfSelectedItemsToDisplay"
      [numberOfUngroupedItemsToDisplay]="numberOfUngroupedItemsToDisplay">
  </sqtm-core-grouped-multi-list>
</ng-template>
