<div class="flex-row full-height full-width" [ngClass]="getComponentClasses()" *ngIf="!edit"
     (click)="enableEditMode()">
          <span class="field-value-color" *ngIf="value; else placeHolderTemplate"
                nz-tooltip [sqtmCoreLabelTooltip]="value" [ellipsis]="true">
        {{value}}
      </span>
  <ng-template #placeHolderTemplate>

            <span *ngIf="editable && showPlaceHolder" class="sqtm-placeholder">
             {{!!placeholder ? placeholder : 'sqtm-core.generic.editable.placeholder'|translate}}
            </span>
    <div *ngIf="editable" class="full-width grid-icon">
      <span><i nz-icon nzType="edit" nzTheme="outline"></i></span>
    </div>
  </ng-template>
</div>
<div class="flex-column" [ngClass]="getComponentClasses()" *ngIf="edit">
  <div class="flex full-width full-height" style="align-items: center">
    <input #input nz-input
           [class.async]="async"
           (keyup)="handleKeyboardInput($event)"
           [formControl]="formControl"
           (blur)="handleBlur()"
    />
  </div>
</div>
