.milestone-information-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 2fr;
  grid-column-gap: 1%;
  grid-row-gap: 10px;
  align-items: center;
}

.colspan-field {
  grid-column-start: 2;
  grid-column-end: -1;
}

.col-spacer {
  grid-column-start: 3;
  grid-column-end: -1;
}
