<ng-container *ngIf="row && row.data[columnDisplay.id]">
  <div #containerRef [class.__hover_pointer]="this.isEditable()" class="full-width full-height flex-column">
    <ng-container *ngIf="!asyncOperationRunning; else spinner">
      <sqtm-core-i18n-enum-icon *ngIf="showIcon" style="margin: auto" class="table-icon-size"
                                [i18nEnum]="i18nEnum" [i18nEnumItem]="enumItemKey"
                                (click)="showTemplate()">
      </sqtm-core-i18n-enum-icon>
      <span style="margin: auto 0;" class="sqtm-grid-cell-txt-renderer" *ngIf="showLabel" nz-tooltip nzTooltipTitle=""
            sqtmCoreLabelTooltip="{{this.i18nEnumItem.i18nKey | translate | capitalize}}">
      {{this.i18nEnumItem.i18nKey | translate | capitalize}}
    </span>
    </ng-container>
  </div>
  <ng-template #templatePortalContent>
    <sqtm-core-list-panel [items]="getPanelItems()"
                          [selectedItem]="enumItemKey"
                          (itemSelectionChanged)="change($event)"></sqtm-core-list-panel>
  </ng-template>

  <ng-template #spinner>
    <span style="margin: auto" class="current-workspace-main-color table-icon-size">
      <i nz-icon nzType="loading" nzTheme="outline"></i>
    </span>
  </ng-template>
</ng-container>
