<ng-container *ngIf="informationData">
  <div nz-tooltip [nzTooltipTitle]="getTooltipTitle(informationData)"
       class="capsule flex-row" [ngStyle]="getStyle(informationData.color)">
    <i nz-icon [nzType]="informationData.icon" [ngStyle]="getCustomIconSize()" nzTheme="outline" class="capsule-icon" [style.color]="getIconColor(informationData.color)"></i>
    {{getDisplayValue(informationData)}}
  </div>
</ng-container>

