<ng-container *ngIf="componentData$ | async as componentData">
  <sqtm-core-customisable-dialog [titleKey]="getDialogTitle(componentData)"
                                 [attr.data-test-dialog-id]="'import-dialog'">
    <sqtm-core-dialog-body>
      <div class="m-b-10">
        <ng-container *ngIf="componentData.currentStep === 'CONFIGURATION'">
          <sqtm-app-import-configuration [componentData]="componentData"
                                         [wrongFileFormat]="wrongFileFormat">
          </sqtm-app-import-configuration>
        </ng-container>

        <ng-container *ngIf="componentData.currentStep === 'SIMULATION_REPORT'">
          <ng-container *ngIf="componentData.loadingData; else reportTemplate">
            <div class="full-width full-height">
              <i nz-icon nzTheme="outline" nzType="loading"></i>
            </div>
          </ng-container>

          <ng-template #reportTemplate>
            <sqtm-app-xls-report [templateOk]="componentData.simulationReport.templateOk"
                                 [templateKo]="componentData.simulationReport.importFormatFailure"></sqtm-app-xls-report>
          </ng-template>
        </ng-container>

        <ng-container *ngIf="componentData.currentStep === 'CONFIRMATION'">
          <div [attr.data-test-message-id]="'confirmation-message'"
               [innerHTML]="'sqtm-core.requirement-workspace.dialog.message.import-confirmation' | translate:{'fileName': componentData.file.name}">
          </div>
        </ng-container>

        <ng-container *ngIf="componentData.currentStep === 'CONFIRMATION_REPORT'">
          <sqtm-app-import-report [componentData]="componentData"></sqtm-app-import-report>
        </ng-container>
      </div>
    </sqtm-core-dialog-body>

    <sqtm-core-dialog-footer>
      <button *ngIf="componentData.currentStep === 'CONFIGURATION' && componentData.format === 'XLS'"
              [attr.data-test-dialog-button-id]="'simulate'"
              style="margin-left: 5px"
              nz-button
              nzType="primary"
              (click)="simulateImport(componentData)">{{'sqtm-core.generic.label.simulate' | translate}}</button>
      <button *ngIf="componentData.currentStep === 'CONFIGURATION' || componentData.currentStep === 'SIMULATION_REPORT'"
              [attr.data-test-dialog-button-id]="'import'"
              style="margin-left: 5px"
              nz-button
              nzType="primary"
              (click)="confirmImport(componentData)">{{'sqtm-core.generic.label.import' | translate}}</button>
      <button *ngIf="componentData.currentStep === 'CONFIRMATION'"
              [attr.data-test-dialog-button-id]="'confirm'"
              style="margin-left: 5px"
              nz-button
              nzType="primary"
              (click)="importRequirement(componentData)">{{'sqtm-core.generic.label.confirm' | translate}}</button>
      <button *ngIf="(componentData.currentStep !== 'CONFIRMATION_REPORT' || componentData.importFailed)"
              [attr.data-test-dialog-button-id]="'cancel'"
              style="margin-left: 5px"
              nz-button
              nzType="default"
              (click)="cancelImport(componentData)"
      >{{'sqtm-core.generic.label.cancel' | translate}}</button>
      <button
        *ngIf="componentData.currentStep === 'CONFIRMATION_REPORT' && !componentData.importFailed"
        [attr.data-test-dialog-button-id]="'close'"
        style="margin-left: 5px"
        nz-button
        nzType="default"
        sqtmCoreDialogClose
      >{{'sqtm-core.generic.label.close' | translate}}</button>
    </sqtm-core-dialog-footer>
  </sqtm-core-customisable-dialog>
</ng-container>

