.grid-one-column {
  display: grid;
  grid-template-columns: 1fr;
}

.grid-two-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

::ng-deep .surface {
  &:hover {
    cursor: pointer;
  }
}
