<div #filterField class="full-width filter-field m-t-10 p-8 flex-row"
     [class.__hover_pointer]="!lockedValue"
     [attr.data-test-component-id]="'grid-filter-field'"
     (click)="edit()">
  <div class="txt-ellipsis">
    <ng-template sqtmCoreDynamicComponent></ng-template>
  </div>
  <span class="m-r-10 current-workspace-main-color" [attr.data-test-component-id]="'inactivate'"
        style="margin-left: auto" *ngIf="allowDelete" (click)="inactivateFilter($event)">
    <i nz-icon nzType="close-circle" nzTheme="fill"></i>
  </span>
</div>
