<div class="container-background-color container-border-color grouped-multi-list p-2 overflow-hidden flex-column"
     [style.width]="width + 'px'" [style.max-height]="height + 'px'"
      [sqtmCoreWorkspace]="workspace" [localTheme]="true"
>
  <div class="p-8 flex-fixed-size" *ngIf="searchable">
    <nz-input-group [nzSuffix]="suffixIconSearch">
      <input type="text" #input nz-input [(ngModel)]="researchValue" (keyup)="handleKeyboardInput()"
             [attr.data-test-component-id]="'input-filter'"/>
    </nz-input-group>
    <div class="spacer"></div>
  </div>
  <div class="full-height full-width" [attr.data-test-component-id]="'selected-items'"
       *ngIf="hasSelectItemsToShow"
       [style.min-height]="minSelectedItemsHeight + 'px'"
       style="overflow-y: auto;">
    <ng-container *ngTemplateOutlet="itemsTemplate; context:{items:selectedItemsToDisplay}"></ng-container>
  </div>

  <div class="flex-fixed-size spacer" *ngIf="hasSelectItemsToShow"></div>
  <!--  Items without virtual scroll-->
  <div class="full-height full-width" *ngIf="!virtualScroll" style="overflow-y: auto;"
       [style.min-height]="minAvailableItemsHeight + 'px'">
    <div [attr.data-test-component-id]="'ungrouped-items'">
      <ng-container *ngTemplateOutlet="itemsTemplate; context:{items:filteredUngroupedItems}"></ng-container>
    </div>
    <div class="m-t-4" *ngFor="let group of filteredGroupDisplay" [attr.data-test-component-id]="'group'">
      <div class="m-l-8 label-color" [attr.data-test-component-id]="'group-label'">{{group.label | capitalize}}</div>
      <ng-container *ngTemplateOutlet="itemsTemplate; context:{items:group.items}"></ng-container>
    </div>
  </div>
  <!--  Items with virtual scroll-->
  <ng-container *ngIf="virtualScroll">
    <ng-container
      *ngTemplateOutlet="itemVirtualScrollTemplate; context:{items:filteredUngroupedItems, componentId:'ungrouped-items', minHeight:minAvailableItemsHeight}"></ng-container>
  </ng-container>
  <div class="flex-fixed-size" [attr.data-test-component-id]="'operation'">
    <!--  Content projection for operation selector or other addition to the widget-->
    <ng-content></ng-content>
  </div>
</div>

<ng-template #suffixIconSearch>
  <i nz-icon nzType="search"></i>
</ng-template>

<ng-template #itemsTemplate let-items="items">
  <div class="p-4 __hover_pointer __hover_background_color txt-ellipsis flex-row item-row"
       *ngFor="let item of items; trackBy: trackItemById"
       [style.height]="rowHeight + 'px'"
       [attr.data-test-component-id]="'item'"
       (click)="toggleItem(item.id)">
    <sqtm-core-simple-checkbox class="flex-fixed-size m-l-8" [value]="item.selected"></sqtm-core-simple-checkbox>
    <ng-container *ngTemplateOutlet="item.customTemplate || defaultItemTemplate; context:{item:item}"></ng-container>
  </div>
</ng-template>


<ng-template #itemVirtualScrollTemplate let-items="items" let-componentId="componentId" let-minHeight="minHeight">
  <cdk-virtual-scroll-viewport [itemSize]="rowHeight" [style.min-height]="minHeight + 'px'"
                               [attr.data-test-component-id]="componentId"
                               class="full-height full-width cdk-virtual-scroll-max-with-override">
    <div class="p-4 __hover_pointer __hover_background_color txt-ellipsis flex-row full-width item-row"
         *cdkVirtualFor="let item of items; trackBy: trackItemById"
         [style.height]="rowHeight + 'px'"
         [attr.data-test-component-id]="'item'"
         (click)="toggleItem(item.id)">
      <sqtm-core-simple-checkbox class="flex-fixed-size m-l-8" [value]="item.selected"></sqtm-core-simple-checkbox>
      <ng-container *ngTemplateOutlet="item.customTemplate || defaultItemTemplate; context:{item:item}"></ng-container>
    </div>
  </cdk-virtual-scroll-viewport>
</ng-template>

<ng-template #defaultItemTemplate let-item="item">
  <span class="m-l-5 txt-ellipsis">{{item.label}}</span>
</ng-template>
