<ng-container *ngIf="iterationViewComponentData">
  <div class="form-grid" [class.small]="isSmallLayout">
    <sqtm-core-label
        [text]="'sqtm-core.campaign-workspace.planning.scheduled-start'|translate"
        class="m-r-5">
    </sqtm-core-label>
    <sqtm-core-editable-date-field
        #scheduledStartDate
        (confirmEvent)="updateScheduledStartDate($event, iterationViewComponentData.iteration.scheduledEndDate)"
        [allowEmptyValue]="true"
        [editable]="canEdit"
        [layout]="'compact'"
        [value]="iterationViewComponentData.iteration.scheduledStartDate"></sqtm-core-editable-date-field>
    <sqtm-core-label
        [text]="'sqtm-core.campaign-workspace.planning.actual-start'|translate"
        class="m-r-5">
    </sqtm-core-label>
    <div class="flex-row">
      <sqtm-core-editable-date-field
          #actualStartDate
          (confirmEvent)="updateActualStartDate($event, iterationViewComponentData.iteration.actualEndDate)"
          [allowEmptyValue]="true"
          [editable]="isActualStartDateEditable"
          [layout]="'compact'"
          [value]="iterationViewComponentData.iteration.actualStartDate"
          class="m-r-5">
      </sqtm-core-editable-date-field>
      <sqtm-core-editable-check-box
          [editable]="canEdit"
          (confirmEvent)="updateActualStartAuto($event)"
          [sqtmCoreEntityViewEditableCheckbox]="'actualStartAuto'">
      </sqtm-core-editable-check-box>
      <label class="txt-ellipsis m-l-5">{{'sqtm-core.entity.test-case.importance.auto'| translate}}</label>
    </div>

    <sqtm-core-label
        [text]="'sqtm-core.campaign-workspace.planning.scheduled-end'|translate"
        class="m-r-5">
    </sqtm-core-label>
    <sqtm-core-editable-date-field
        #scheduledEndDate
        [editable]="canEdit"
        [layout]="'compact'"
        [allowEmptyValue]="true"
        [value]="iterationViewComponentData.iteration.scheduledEndDate"
        (confirmEvent)="updateScheduledEndDate($event, iterationViewComponentData.iteration.scheduledStartDate)">
    </sqtm-core-editable-date-field>
    <sqtm-core-label
        class="m-r-5"
        [text]="'sqtm-core.campaign-workspace.planning.actual-end'|translate">
    </sqtm-core-label>
    <div class="flex-row">
      <sqtm-core-editable-date-field
          class="m-r-5"
          #actualEndDate
          [allowEmptyValue]="true"
          (confirmEvent)="updateActualEndDate($event, iterationViewComponentData.iteration.actualStartDate)"
          [editable]="isActualEndDateEditable"
          [layout]="'compact'"
          [value]="iterationViewComponentData.iteration.actualEndDate">
      </sqtm-core-editable-date-field>
      <sqtm-core-editable-check-box
          [editable]="canEdit"
          (confirmEvent)="updateActualEndAuto($event)"
          [sqtmCoreEntityViewEditableCheckbox]="'actualEndAuto'">
      </sqtm-core-editable-check-box>
      <label class="txt-ellipsis m-l-5">{{'sqtm-core.generic.label.auto'| translate}}</label>
    </div>

  </div>
</ng-container>

