<span class="ant-checkbox"
      [class.ant-checkbox-checked]="value"
      [class.ant-checkbox-disabled]="disabled"
      (click)="handleClick($event)"
>
 <span class="ant-checkbox-inner"></span>
</span>
