<div class="form-grid m-b-10">
  <sqtm-core-label [text]="'sqtm-core.entity.issue.key.label' | translate">
  </sqtm-core-label>
  <div class="flex-row">
    <nz-input-group nzSearch [nzAddOnAfter]="suffixButton">
      <input
          nz-input style="flex-grow: 1"
          [(ngModel)]="searchText"
          (keydown.enter)="searchForIssue()"
          [attr.data-test-component-id]="'search-input'"/>
    </nz-input-group>
    <ng-template #suffixButton>
      <button nz-button nzType="primary" nzSearch (click)="searchForIssue()" [nzLoading]="loading"
              [attr.data-test-component-id]="'search-button'">
        <i nz-icon nzType="search"></i>
      </button>
    </ng-template>
  </div>
</div>

<div *ngIf="errorMessage" class="error-message m-t-6 m-b-10">
  {{ errorMessage }}
</div>
