<ng-container *ngIf="componentData">
  <div class="two-columns-grid">
    <div class="label-with-tooltip-icon">
      <sqtm-core-label
        [text]="'sqtm-core.administration-workspace.system.settings.insensitive.label' | translate">
      </sqtm-core-label>
      <i nz-icon nzType="sqtm-core-generic:help" nzTheme="fill"
         class="m-l-10 font-20-px current-workspace-main-color"
         nz-tooltip [nzTooltipTitle]="'sqtm-core.administration-workspace.system.settings.insensitive.tooltip' | translate"></i>
    </div>


    <nz-switch *ngIf="!checkIdDuplicateLogins()"
               [(ngModel)]="componentData.caseInsensitiveLogin"
               [nzControl]="true"
               [nzCheckedChildren]="checkedTemplate"
               [nzUnCheckedChildren]="unCheckedTemplate"
               [attr.data-test-field-id]="'caseInsensitiveLogin'"
               (click)="changeCaseInsensitiveLoginEnabled()">
    </nz-switch>

    <ng-template #checkedTemplate><i nz-icon nzType="check"></i></ng-template>
    <ng-template #unCheckedTemplate><i nz-icon nzType="close"></i></ng-template>

    <span *ngIf="checkIdDuplicateLogins()">
      {{'sqtm-core.administration-workspace.system.settings.duplicate-logins.alert-message' | translate}}
    </span>

    <sqtm-core-label
      *ngIf="checkIdDuplicateLogins()"
      [text]="'sqtm-core.administration-workspace.system.settings.duplicate-logins.label' | translate">
    </sqtm-core-label>
  </div>

  <div  *ngIf="checkIdDuplicateLogins()">
    <label *ngFor="let login of componentData.duplicateLogins" class="login">
      {{login}}
    </label>
  </div>

</ng-container>
