.font-dialog-title {
  color: var(--label-color);
  font-weight: 500;
  font-size: 18px;
}

[nz-radio] {
  display: block;
}

label {
  color: var(--label-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1;
}

.select-dataset {
  min-width: 200px;
  margin: 10px 0 10px 25px;
}

.message {
  margin: 10px 0 10px 25px;
  font-size: 14px;
}
