<div *ngIf="row" [class.__hover_pointer]="this.isEditable()"
     class="sqtm-grid-cell-txt-renderer full-height flex-column p-r-5"
     (click)="showTemplate()">
  <ng-container *ngIf="automatedTestTechnologies$ | async as automatedTestTechnologies">
    <ng-container *ngIf="!asyncOperationRunning; else spinner">
      <span class="txt-ellipsis" #infoListItemRef>{{getLabel(row.data[columnDisplay.id])}}</span>
    </ng-container>
    <ng-template #templatePortalContent>
      <sqtm-core-list-panel [selectedItem]="row.data['atTechnologyId']"
                            (itemSelectionChanged)="change($event)"
                            [items]="getListPanelItems(automatedTestTechnologies)"></sqtm-core-list-panel>
    </ng-template>
  </ng-container>
  <ng-template #spinner>
    <span style="margin: auto" class="current-workspace-main-color table-icon-size">
      <i nz-icon nzType="loading" nzTheme="outline"></i>
    </span>
  </ng-template>
</div>
