<ng-container *ngIf="componentData$ | async as componentData; else loading"
              [sqtmCoreViewId]="'automated-execution-view'">
  <div class="flex full-height full-width neutral-background-color">
    <div class="flex-column full-width">
      <sqtm-core-entity-view-header class="full-width content-head p-t-10 p-r-20"
                                    [attachmentCount]="getAttachmentCount(componentData.execution.attachmentList.attachments)"
                                    (attachmentBadgeClickEvent)="toggleAttachmentPanel()"
                                    [displayDefaultTitle]="false">
        <div projection='customTitle'>
          <div class="current-workspace-main-color">
            {{'sqtm-core.entity.execution.label.singular'|translate}}
            <span [attr.data-test-component-id]="'execution-title'">
              #{{componentData.execution.executionOrder + 1}} : {{componentData.execution.name}}
            </span>
          </div>
        </div>
        <div projection='actions' class="flex-column full-height" style="width: 40px">
          <ng-content></ng-content>
        </div>
        <div projection='notifications' class="m-r-40" [attr.data-test-component-id]="'notifications'">
          <div *ngIf="!componentData.milestonesAllowModification"
               [attr.data-test-component-id]="'milestone-locked-warning'"
               nz-tooltip [nzTooltipTitle]="lockedMilestoneMessage" [nzTooltipPlacement]="'bottom'"
               class="font-20-px sqtm-core-error-message">
            <i nz-icon nzType="sqtm-core-nav:milestone" nzTheme="outline"></i>
          </div>
        </div>
        <div projection='menu' [attr.data-test-toolbar-button-id]="'action-menu-button'">
             <span class="font-20-px" nz-dropdown [nzDropdownMenu]="actionMenu" [nzPlacement]="'bottomCenter'">
               <i nz-icon nzType="sqtm-core-generic:more" nzTheme="outline"></i>
             </span>
        </div>
        <div projection='capsule' class="sqtm-core-capsules-container">
          <sqtm-core-capsule-information
              [attr.data-test-component-id]="'execution-mode'"
              [informationData]="getExecutionMode(componentData.execution.executionMode)">
          </sqtm-core-capsule-information>
          <sqtm-core-capsule-information
              [attr.data-test-component-id]="'execution-status'"
              [informationData]="getExecutionStatus(componentData.execution.executionStatus)"
              [customIconSize]="18">
          </sqtm-core-capsule-information>
          <sqtm-core-capsule-information
              *ngIf="componentData.execution.lastExecutedOn"
              [attr.data-test-component-id]="'last-executed-on'"
              [informationData]="getLastExecution(componentData.execution.lastExecutedOn, componentData.execution.lastExecutedBy)">
          </sqtm-core-capsule-information>
          <sqtm-core-capsule-link
              *ngIf="componentData.execution.testAutomationServerKind === 'jenkins' && componentData.execution.automatedJobUrl"
              [attr.data-test-component-id]="'job-url'"
              [informationData]="getAutomatedJobUrl(componentData.execution.automatedJobUrl)">
          </sqtm-core-capsule-link>
          <sqtm-core-capsule-link
              *ngIf="componentData.execution.testAutomationServerKind === 'jenkins' && componentData.execution.automatedExecutionResultUrl"
              [attr.data-test-component-id]="'job-result'"
              [informationData]="getExecutionResultUrl(componentData.execution.automatedExecutionResultUrl)">
          </sqtm-core-capsule-link>
        </div>
      </sqtm-core-entity-view-header>
      <div class="flex-row full-height full-width">
        <div class="flex-fixed-size side-bar">
          <div class="anchor-bar">
            <sqtm-core-anchor>
              <sqtm-core-anchor-group [id]="'content'">
                <sqtm-core-anchor-link
                  nz-tooltip nzTooltipPlacement="right"
                  sqtmCoreDefaultAnchorLink
                  [id]="'information'"
                  [nzTooltipTitle]="'sqtm-core.generic.label.information.plural' | translate"
                  [linkHref]="'content'"
                  [iconName]="'sqtm-core-generic:information'">
                </sqtm-core-anchor-link>

                <sqtm-core-anchor-link
                  nz-tooltip nzTooltipPlacement="right"
                  [id]="'coverage'"
                  [nzTooltipTitle]="'sqtm-core.campaign-workspace.execution-runner.coverages' | translate"
                  [linkHref]="'content'"
                  [iconName]="'sqtm-core-campaign:requirements'">
                  <ng-container *ngIf="executionPageService.coverageCount$ | async as coverageCount">
                    <div *ngIf="coverageCount > 0" class="anchor-counter"
                         [attr.data-test-component-id]="'project-view-permission-count'">
                      <span>{{coverageCount}}</span>
                    </div>
                  </ng-container>
                </sqtm-core-anchor-link>

                <sqtm-core-anchor-link
                  *ngIf="componentData.execution.automatedExecutionResultSummary && componentData.execution.testAutomationServerKind === 'jenkins'"
                  nz-tooltip nzTooltipPlacement="right"
                  [id]="'result-summary'"
                  [nzTooltipTitle]="'sqtm-core.entity.execution.automated.result-summary' | translate"
                  [linkHref]="'content'"
                  [iconName]="'sqtm-core-campaign:result_details'">
                </sqtm-core-anchor-link>

                <sqtm-core-anchor-link
                  nz-tooltip nzTooltipPlacement="right"
                  [id]="'comments'"
                  [nzTooltipTitle]="'sqtm-core.generic.label.comments' | translate"
                  [linkHref]="'content'"
                  [iconName]="'sqtm-core-campaign:comments'">
                </sqtm-core-anchor-link>


                <sqtm-core-anchor-link
                  *ngIf="componentData.projectData.bugTracker"
                  nz-tooltip nzTooltipPlacement="right"
                  [id]="'issues'"
                  [nzTooltipTitle]="'sqtm-core.campaign-workspace.execution-page.issue.plural' | translate"
                  [linkHref]="'content'"
                  [iconName]="'sqtm-core-generic:issues'">
                  <div *ngIf="componentData.execution.nbIssues > 0" class="anchor-counter">
                    <span>{{componentData.execution.nbIssues}}</span>
                  </div>
                </sqtm-core-anchor-link>
              </sqtm-core-anchor-group>

              <sqtm-core-anchor-group [id]="'scenario'">
                <sqtm-core-anchor-link
                  nz-tooltip nzTooltipPlacement="right"
                  sqtmCoreDefaultAnchorLink
                  [id]="'scenario'"
                  [nzTooltipTitle]="'sqtm-core.campaign-workspace.execution-page.scenario.label' | translate"
                  [linkHref]="'scenario'"
                  [iconName]="'sqtm-core-campaign:scenario'">
                  <div *ngIf="getStepsNumber(componentData.execution.executionSteps.entities) > 0" class="anchor-counter">
                    <span>{{getStepsNumber(componentData.execution.executionSteps.entities)}}</span>
                  </div>
                </sqtm-core-anchor-link>
              </sqtm-core-anchor-group>
            </sqtm-core-anchor>
          </div>
        </div>
        <div class="content-body full-height full-width">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
  <sqtm-core-attachment-drawer
    [canAttach]="componentData.permissions.canAttach && componentData.milestonesAllowModification">
  </sqtm-core-attachment-drawer>

  <nz-dropdown-menu #actionMenu="nzDropdownMenu">
    <ul nz-menu [attr.data-test-menu-id]="'action-menu'">
      <li nz-menu-item
          [nzDisabled]="!componentData.milestonesAllowModification"
          [attr.data-test-menu-item-id]="'delete'"
          (click)="deleteExecution()">
        {{ 'sqtm-core.generic.label.delete' |translate }}
      </li>

    </ul>
  </nz-dropdown-menu>
</ng-container>


<ng-template #loading>
  <sqtm-core-full-page-loading-icon></sqtm-core-full-page-loading-icon>
</ng-template>


<ng-template #lockedMilestoneMessage>
  {{'sqtm-core.entity.generic.milestone.locked'|translate}}
</ng-template>


