<div class="full-width full-height flex-column neutral-background-color">
  <div class="m-5 font-20-px flex-fixed-size flex-row"
       [attr.data-test-toolbar-id]="'requirement-toolbar'">
    <span>
      <i nz-icon nz-dropdown [nzDropdownMenu]="creationMenu"
         nzType="sqtm-core-tree:add"
         nzTheme="outline"
         [ngClass]="(creationMenuButtonActivation$|async) ? 'current-workspace-button action-icon-size' : 'label-color action-icon-size'"
         [attr.data-test-toolbar-button-id]="'create-button'">
      </i>
    </span>
    <sqtm-core-toggle-icon class="m-l-30"
                           [attr.data-test-toolbar-button-id]="'copy-button'"
                           [active]="tree.canCopy$ | async"
                           (clickedInActiveMode)="copy()">
      <i nz-icon nzType="sqtm-core-generic:copy" nzTheme="outline"
         nz-tooltip
         [nzTooltipTitle]="'sqtm-core.generic.label.copy'|translate"
         nzTooltipPlacement="bottom"
         class="action-icon-size"></i>
    </sqtm-core-toggle-icon>
    <sqtm-core-toggle-icon class="m-l-10"
                           [attr.data-test-toolbar-button-id]="'paste-button'"
                           [active]="tree.canPaste$ | async"
                           (click)="paste()">
      <i nz-icon nzType="sqtm-core-generic:paste" nzTheme="outline"
         nz-tooltip class="action-icon-size"
         [nzTooltipTitle]="'sqtm-core.generic.label.paste-with-shortcut'|translate"
         nzTooltipPlacement="bottom"></i>
    </sqtm-core-toggle-icon>
    <sqtm-core-toggle-icon class="m-l-10"
                           [attr.data-test-toolbar-button-id]="'delete-button'"
                           [active]="tree.canDelete$ | async"
                           (click)="delete()">
      <i nz-icon nzType="sqtm-core-generic:delete" nzTheme="outline"
         nz-tooltip class="action-icon-size"
         [nzTooltipTitle]="'sqtm-core.generic.label.delete-with-shortcut'|translate"
         nzTooltipPlacement="bottom"></i>
    </sqtm-core-toggle-icon>
    <ng-container *ngIf="this.referentialDataService.milestoneModeData$|async as milestoneState">
      <span *ngIf="milestoneState.milestoneModeEnabled && milestoneState.milestoneFeatureEnabled" class="m-l-30">
       <i nz-dropdown [nzDropdownMenu]="milestoneMenu" [nzPlacement]="'bottomCenter'"
          nz-icon nzType="sqtm-core-nav:milestone"
          class="m-l-5 current-workspace-button action-icon-size"
          [attr.data-test-toolbar-button-id]="'milestone-button'"></i>
      </span>
    </ng-container>

    <span class="m-l-auto">
          <i nz-icon nzType="sqtm-core-tree:import_export" nzTheme="outline"
             nz-dropdown [nzDropdownMenu]="importExportMenu"
             [ngClass]="(batchMenuButtonActivation$|async) ? 'current-workspace-button action-icon-size' : 'label-color action-icon-size'"
             [attr.data-test-toolbar-button-id]="'import-export'">
          </i>
    </span>

    <span class="m-l-10">
      <i nz-icon nzType="sqtm-core-tree:sort" nzTheme="outline"
         nz-popover [nzPopoverContent]="sortMenu"
         class="current-workspace-button action-icon-size"
         [style.transform-y]="'rotate(90)'"
         [attr.data-test-toolbar-button-id]="'sort-button'"></i>
    </span>
    <span class="m-l-10 m-r-20" (click)="navigateToSearch()">
       <i nz-icon
          nzType="sqtm-core-tree:search"
          nzTheme="outline"
          class="current-workspace-button action-icon-size"
          nz-tooltip
          [nzTooltipTitle]="'sqtm-core.generic.label.research'|translate"
          [attr.data-test-toolbar-button-id]="'research-button'"></i>
    </span>
  </div>
  <div class="full-width full-height" sqtmCoreTreeKeyboardShortcut>
    <sqtm-core-grid></sqtm-core-grid>
  </div>
</div>

<ng-template #sortMenu>
  <div [attr.data-test-menu-id]="'sort-menu'">
    <nz-radio-group [(ngModel)]="sortValue" (ngModelChange)="changeSort()">
      <label nz-radio nzValue="ALPHABETICAL"
             [attr.data-test-menu-item-id]="'sort-alphabetical'"
      >{{ ('sqtm-core.tree-picker.generic.sort.alphabetic' | translate) }}</label>
      <label nz-radio nzValue="POSITIONAL"
             [attr.data-test-menu-item-id]="'sort-positional'"
      >{{ ('sqtm-core.tree-picker.generic.sort.positional' | translate) }}</label>
    </nz-radio-group>
  </div>
</ng-template>

<nz-dropdown-menu #milestoneMenu="nzDropdownMenu">
  <ul nz-menu [attr.data-test-menu-id]="'milestone-menu'">
    <li nz-menu-item
        [attr.data-test-menu-item-id]="'change-active-milestone'"
        (click)="openMilestoneSelect()">
      {{ ('sqtm-core.dialog.milestone.picker.single' | translate) }}
    </li>
    <li nz-menu-item
        [attr.data-test-menu-item-id]="'show-active-milestone-dashboard'"
        (click)="navigateToMilestoneDashboard()">
      {{ ('sqtm-core.tree-picker.generic.milestone.dashboard' | translate) }}
    </li>
  </ul>
</nz-dropdown-menu>

<nz-dropdown-menu #creationMenu="nzDropdownMenu">
  <ng-container *ngIf="(creationMenuPermissions$|async) as creationMenuPermissions">
    <ul nz-menu [attr.data-test-menu-id]="'create-menu'">
      <li nz-menu-item
          [attr.data-test-menu-item-id]="'new-requirement'"
          [nzDisabled]="!creationMenuPermissions.canCreateRequirement"
          (click)="openCreateRequirement()">
        {{ ('sqtm-core.requirement-workspace.tree.button.new-requirement' | translate) }}
      </li>
      <li nz-menu-item
          [attr.data-test-menu-item-id]="'new-folder'"
          [nzDisabled]="!creationMenuPermissions.canCreateFolder"
          (click)="openCreateFolder()">
        {{ ('sqtm-core.test-case-workspace.tree.button.new-folder' | translate) }}
      </li>
    </ul>
  </ng-container>
</nz-dropdown-menu>

<nz-dropdown-menu #importExportMenu="nzDropdownMenu">
  <ng-container *ngIf="(batchMenuPermissions$|async) as batchMenuPermissions">
    <ul nz-menu [attr.data-test-menu-id]="'import-export-menu'">
      <li nz-menu-item [attr.data-test-menu-item-id]="'import-requirement'"
          [nzDisabled]="!batchMenuPermissions.canImport" (click)="import()">
        {{'sqtm-core.generic.label.import' | translate}}
      </li>
      <li nz-menu-item [attr.data-test-menu-item-id]="'export-requirement'"
          [nzDisabled]="!batchMenuPermissions.canExport" (click)="export()">
        {{'sqtm-core.generic.label.export' | translate}}
      </li>
      <li nz-menu-item *ngFor="let wizardMenuItem of (wizardMenuItems$ | async)"
          [nzDisabled]=!wizardMenuItem.enabled
          (click)="openSyncDialog(wizardMenuItem)">{{wizardMenuItem.wizardMenu.label}}</li>
    </ul>
  </ng-container>
</nz-dropdown-menu>
