<ng-container *ngIf="!edit">
      <span class="field-value-color" *ngIf="value; else placeHolder" (click)="enableEditMode()"
            [class.editable]="editable">
        {{value | date:format: '' : translateService.getBrowserLang()}}
      </span>
  <ng-template #placeHolder>
        <span *ngIf="editable; else placeHolderNoRights" class="sqtm-placeholder editable text-ellipsis" (click)="enableEditMode()">
         {{translateService.instant('sqtm-core.generic.editable.placeholder')}}
        </span>
    <ng-template #placeHolderNoRights>
      <span>-</span>
    </ng-template>

  </ng-template>
</ng-container>
<div class="flex-row" *ngIf="edit">
  <nz-date-picker [nzPlaceHolder]="placeHolder"
                  [nzAutoFocus]="true"
                  [nzAllowClear]="allowEmptyValue"
                  [nzFormat]="format"
                  [(ngModel)]="model"
                  (ngModelChange)="confirm()"
                  (blur)="cancel()">
  </nz-date-picker>
  <div class="flex-fixed-size" *ngIf="mustShowButtons()">
    <button nz-button nzType="default"
            [nzSize]="size"
            [ngClass]="getCancelButtonCss()"
            [nzLoading]="pending"
            (click)="cancel()">
      <i nz-icon [nzType]="'close'"></i>
      <ng-container *ngIf="mustShowButtonLabels()">
        {{'sqtm-core.generic.label.cancel' | translate | capitalize}}
      </ng-container>
    </button>
  </div>
</div>


