<ng-container *ngIf="chartDefinition?.abscissa?.length > 0; else noData">
  <ng-container [ngSwitch]="chartDefinition.type">
    <sqtm-app-custom-report-pie-chart *ngSwitchCase="'PIE'"
                                      [chartDefinition]="chartDefinition"
                                      [layout]="layout"></sqtm-app-custom-report-pie-chart>
    <sqtm-app-custom-report-bar-chart *ngSwitchCase="'BAR'"
                                      [chartDefinition]="chartDefinition"
                                      [layout]="layout"></sqtm-app-custom-report-bar-chart>
    <sqtm-app-custom-report-cumulative-chart *ngSwitchCase="'CUMULATIVE'"
                                             [chartDefinition]="chartDefinition"
                                             [layout]="layout"></sqtm-app-custom-report-cumulative-chart>
    <sqtm-app-custom-report-comparative-chart *ngSwitchCase="'COMPARATIVE'"
                                              [chartDefinition]="chartDefinition"
                                              [layout]="layout"></sqtm-app-custom-report-comparative-chart>
    <sqtm-app-custom-report-trend-chart *ngSwitchCase="'TREND'"
                                        [chartDefinition]="chartDefinition"
                                        [layout]="layout"></sqtm-app-custom-report-trend-chart>
  </ng-container>
</ng-container>

<ng-template #noData>
  <div class="full-width full-height flex-column font-16-px">
    <div class="full-width flex-fixed-size flex-row chart-message m-t-20">
      <b>{{chartDefinition.name}}</b>
    </div>
    <div class="full-width full-height flex-row chart-message">
      {{'sqtm-core.custom-report-workspace.chart.messages.no-data'|translate}}
    </div>
  </div>
</ng-template>
