<ng-container *ngIf="editable; else fakeBox">
  <label class="field-value-color" nz-checkbox [(ngModel)]="model" (nzCheckedChange)="confirm()"></label>
</ng-container>

<ng-template #fakeBox>
  <label class="ant-checkbox-wrapper" >
    <span class="ant-checkbox " [class.ant-checkbox-checked]="value" style="cursor: default">
      <span class="ant-checkbox-inner" ></span>
    </span>
  </label>
</ng-template>
