.container-transparent-border {
  border: solid 1px var(--container-background-color);
  border-radius: 5px;
}

.item-buttons {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
}

.gridster-item-container {
  &:hover{
    .item-buttons {
      display: flex;
    }
  }
}
