.two-cols {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1%;
  grid-row-gap: 10px;
  align-items: center;
}

.block-title {
  text-transform: uppercase;
  font-weight: 500;
  color: var(--label-color);
  margin-top: 12px;
  display: flex;
  font-size: 12px;

  &-button {
    cursor: pointer;
  }
}

.padded-block {
  margin: 6px 0;
  border-left: 2px solid var(--container-border-color);
  padding: 2px 2px 2px 7px;
}

.icon-color {
  color: var(--current-workspace-main-color);
}
