.view-label {
  color: var(--gray-accented-color);
  font-weight: 600;
}

.return {
  position: relative;
  top: 5px;
  left: 0;

  i {
    margin-left: 12px;
  }

  &:hover {
    cursor: pointer;
  }
}
