<ng-container *ngIf="issuesService.state$ | async as issueUIModel; else loading">
  <ng-container [ngSwitch]="getCurrentDisplayMode(issueUIModel)">

    <ng-container *ngSwitchCase="DisplayMode.LOADING">
      <ng-container *ngTemplateOutlet="loading">
      </ng-container>
    </ng-container>

    <ng-container *ngSwitchCase="DisplayMode.ACTIVATION_REQUIRED">
      <label>
        {{'sqtm-core.entity.bugtracker.activation-required' | translate}}
        <button nz-button nzType="primary"
                [attr.data-test-button-id]="'activate'"
                (click)="activateBugTracker()">
          {{'sqtm-core.entity.bugtracker.activate' | translate}}
        </button>
      </label>
    </ng-container>

    <ng-container *ngSwitchCase="DisplayMode.HAS_ERROR">
      <div [ngClass]="bugtrackerErrorStyle">
      <span class="bugtracker-error-message m-r-5">{{'sqtm-core.entity.bugtracker.unavailable' | translate}}</span>
      <span class="bugtracker-error-detail"
            (click)="showError(issueUIModel.error)">({{'sqtm-core.generic.label.detail.plural' | translate}})</span>
      <div class="bugtracker-error-missing-step-detail-message m-t-6"
           *ngIf="warnAboutMissingExecutionStepDetails">
        {{'sqtm-core.entity.bugtracker.unavailable-step-details' | translate}}
      </div>
    </div>
    </ng-container>

    <ng-container *ngSwitchCase="DisplayMode.AUTHENTICATION_REQUIRED">
      <sqtm-core-issues-connect
          [bugTracker]="bugTracker"
          (connectSuccess)="handleConnectSuccess()">
      </sqtm-core-issues-connect>
    </ng-container>

    <ng-container *ngSwitchCase="DisplayMode.LOADED">
      <ng-content></ng-content>
    </ng-container>

  </ng-container>
</ng-container>

<ng-template #loading>
  <sqtm-core-full-page-loading-icon>
  </sqtm-core-full-page-loading-icon>
</ng-template>
