<sqtm-core-customisable-dialog [titleKey]="configuration.titleKey" [dialogId]="configuration.id" (confirm)="confirm()">
  <sqtm-core-dialog-body>
    <sqtm-core-multiple-milestone-picker [milestones]="configuration.milestones"
                                         [disableColumns]="configuration.disableColumns"
                                         [warningMessageKey]="configuration.warningMessageKey"
                                         [initiallySelectedMilestones]="configuration.selectedMilestones"
                                         (selectedMilestone)="changeMilestoneSelection($event)"
    ></sqtm-core-multiple-milestone-picker>
  </sqtm-core-dialog-body>
</sqtm-core-customisable-dialog>
