<ng-container *ngIf="componentData$ | async as componentData">
  <div class="form-grid">
    <sqtm-core-label
      [text]="'sqtm-core.entity.user.account.bug-tracker-mode.label' | translate">
    </sqtm-core-label>
    <div class="flex-row">
      <span>{{'sqtm-core.entity.user.account.bug-tracker-mode.Manual'|translate}}</span>
      <nz-switch class="m-l-4 m-r-4"
                 [ngModel]="componentData.userAccount.bugTrackerMode === null || componentData.userAccount.bugTrackerMode === 'Automatic'"
                 (ngModelChange)="handleBugTrackerModelChange($event)">
      </nz-switch>
      <span>{{'sqtm-core.entity.user.account.bug-tracker-mode.Automatic'|translate}}</span>
    </div>

    <sqtm-core-label
      [text]="'sqtm-core.entity.user.account.save-bug-tracker-credentials.label'|translate">
    </sqtm-core-label>
    <nz-select
      [attr.data-test-field-id]="'edited-bugtracker'"
      [nzOptions]="bugTrackerOptions"
      [disabled]="! hasBugTrackerOptions"
      [(ngModel)]="selectedBugTracker">
    </nz-select>
  </div>

  <ng-container *ngIf="selectedBugTrackerCredentials as bugTrackerCredentials">
    <div class="m-t-15 m-b-8">
      <label class="block-title">{{bugTrackerCredentials.bugTracker.name}}</label>
      <label class="label-color"> ({{bugTrackerCredentials.bugTracker.url}})</label>
    </div>
    <div class="block-border p-l-8">
      <sqtm-core-third-party-credentials-form
        [authenticationProtocol]="bugTrackerCredentials.bugTracker.authProtocol"
        [credentials]="bugTrackerCredentials.credentials"
        [useRevokeButton]="true"
        (submit)="submitCredentials($event, bugTrackerCredentials.bugTracker)"
        (revokeTokens)="deleteCredentials(bugTrackerCredentials.bugTracker)">
      </sqtm-core-third-party-credentials-form>

      <div class="flex-row">
        <div class="flex-row" style="align-items: center;">
          <ng-container [ngSwitch]="statusIcon">
            <i *ngSwitchCase="'INFO'" nz-icon class="sqtm-core-icon" nzType="info-circle" nzTheme="twotone"
               [nzTwotoneColor]="'#1890FF'"></i>
            <i *ngSwitchCase="'DANGER'" nz-icon class="sqtm-core-icon" nzType="exclamation-circle" nzTheme="twotone"
               [nzTwotoneColor]="'#FF0000'"></i>
          </ng-container>
          <b [attr.data-test-component-id]="'status-message'">
            {{credentialsStatusMessage | translate}}
          </b>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>
