<div class="full-width full-height flex-column">
  <div class="flex-fixed-size full-width">
    {{grid.filterConfigurations$ | async | json}}
  </div>
  <div class="full-width full-height">
    CONF EDITOR TO DEFINE
  </div>
</div>
