<ng-container [sqtmCoreViewId]="'project-view'">
  <div class="flex full-height full-width neutral-background-color">
    <div class="flex-column full-width">
      <ng-content select="[projection=context-title]">
      </ng-content>
      <div class="flex-row full-width" *ngIf="projectViewService.componentData$ | async as componentData; else loading" >
        <sqtm-app-admin-view-header class="full-width p-t-10 p-r-20"
          [entityNameKey]="'name'"
          [dropdownMenu]="projectMenu"
          [showMenu]="adminReferentialDataService.loggedAsAdmin$ | async"
          [hasAttachments]="true"
          [attachmentCount]="getAttachmentCount(componentData.project.attachmentList.attachments)"
          (attachmentBadgeClickEvent)="openAttachmentPanel()">
          <ng-content select="[projection=context-buttons]">
          </ng-content>
        </sqtm-app-admin-view-header>
      </div>
      <div class="flex-row full-width full-height">
        <div class="flex-fixed-size side-bar">
          <div class="anchor-bar">
            <sqtm-core-anchor>
              <sqtm-core-anchor-group [id]="'content'">
                <sqtm-core-anchor-link
                  nz-tooltip nzTooltipPlacement="right"
                  sqtmCoreDefaultAnchorLink
                  [id]="'information'"
                  [nzTooltipTitle]="'sqtm-core.generic.label.information.plural' | translate"
                  [linkHref]="'content'"
                  [iconName]="'sqtm-core-administration:information'">
                </sqtm-core-anchor-link>

                <sqtm-core-anchor-link
                  nz-tooltip nzTooltipPlacement="right"
                  [id]="'bugtracker'"
                  [nzTooltipTitle]="'sqtm-core.entity.bugtracker.label.singular' | translate"
                  [linkHref]="'content'"
                  [iconName]="'sqtm-core-administration:bugtracker'">
                </sqtm-core-anchor-link>

                <sqtm-core-anchor-link
                  nz-tooltip nzTooltipPlacement="right"
                  [id]="'permissions'"
                  [nzTooltipTitle]="'sqtm-core.entity.project.authorizations.label.plural' | translate"
                  [linkHref]="'content'"
                  [iconName]="'sqtm-core-administration:user'">
                  <ng-container *ngIf="projectViewService.permissionCount$ | async as permissionCount">
                    <div *ngIf="permissionCount > 0" class="anchor-counter"
                         [attr.data-test-component-id]="'project-view-permission-count'">
                      <span>{{permissionCount}}</span>
                    </div>
                  </ng-container>
                </sqtm-core-anchor-link>

                <sqtm-core-anchor-link
                  nz-tooltip nzTooltipPlacement="right"
                  [id]="'execution'"
                  [nzTooltipTitle]="'sqtm-core.entity.execution.label.singular' | translate"
                  [linkHref]="'content'"
                  [iconName]="'sqtm-core-administration:execution'">
                </sqtm-core-anchor-link>

                <sqtm-core-anchor-link
                  nz-tooltip nzTooltipPlacement="right"
                  [id]="'automation'"
                  [nzTooltipTitle]="'sqtm-core.entity.automation.label.singular' | translate"
                  [linkHref]="'content'"
                  [iconName]="'sqtm-core-administration:automation'">
                </sqtm-core-anchor-link>
              </sqtm-core-anchor-group>

              <sqtm-core-anchor-group [id]="'custom'">
                <sqtm-core-anchor-link
                  [linkHref]="'custom'"
                  [id]="'custom-fields'"
                  nz-tooltip nzTooltipPlacement="right"
                  [nzTooltipTitle]="'sqtm-core.entity.custom-field.label.plural' | translate"
                  [iconName]="'sqtm-core-administration:custom_field'">
                  <ng-container *ngIf="projectViewService.customFieldCount$ | async as customFieldCount">
                    <div *ngIf="customFieldCount > 0" class="anchor-counter"
                         [attr.data-test-component-id]="'project-view-custom-field-count'">
                      <span>{{customFieldCount}}</span>
                    </div>
                  </ng-container>
                </sqtm-core-anchor-link>
                <sqtm-core-anchor-link
                  [linkHref]="'custom'"
                  [id]="'info-lists'"
                  nz-tooltip nzTooltipPlacement="right"
                  [nzTooltipTitle]="'sqtm-core.entity.info-list.label.plural' | translate"
                  [iconName]="'sqtm-core-administration:infolist'">
                </sqtm-core-anchor-link>
              </sqtm-core-anchor-group>
              <sqtm-core-anchor-group
                *ngIf="adminReferentialDataService.milestoneFeatureEnabled$ | async"
                [id]="'milestones'">
                <sqtm-core-anchor-link
                  [linkHref]="'milestones'"
                  [id]="'milestones'"
                  nz-tooltip nzTooltipPlacement="right"
                  [nzTooltipTitle]="'sqtm-core.entity.milestone.label.plural' | translate"
                  [iconName]="'sqtm-core-administration:milestone'">
                  <ng-container *ngIf="projectViewService.milestoneCount$ | async as milestoneCount">
                    <div *ngIf="milestoneCount > 0" class="anchor-counter"
                         [attr.data-test-component-id]="'project-view-milestone-count'">
                      <span>{{milestoneCount}}</span>
                    </div>
                  </ng-container>
                </sqtm-core-anchor-link>
              </sqtm-core-anchor-group>
              <sqtm-core-anchor-group
                [id]="'plugins'">
                <sqtm-core-anchor-link
                  [linkHref]="'plugins'"
                  [id]="'plugins'"
                  nz-tooltip nzTooltipPlacement="right"
                  [nzTooltipTitle]="'sqtm-core.entity.plugin.label.plural' | translate"
                  [iconName]="'sqtm-core-administration:plugin'">
                  <ng-container *ngIf="projectViewService.activePluginCount$ | async as pluginCount">
                    <div *ngIf="pluginCount > 0" class="anchor-counter"
                         [attr.data-test-component-id]="'project-view-plugin-count'">
                      <span>{{pluginCount}}</span>
                    </div>
                  </ng-container>
                </sqtm-core-anchor-link>
              </sqtm-core-anchor-group>
            </sqtm-core-anchor>
          </div>
        </div>
        <div *ngIf="projectViewService.componentData$ | async as componentData; else loading"
             class="admin-contextual-content-body full-height full-width">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>

  <nz-dropdown-menu #projectMenu="nzDropdownMenu">
    <ng-container *ngIf="projectViewService.componentData$ | async as componentData; else loading">
    <ul nz-menu [attr.data-test-menu-id]="'project-menu'">
      <li *ngIf="! componentData.project.template"
          nz-menu-item
          [attr.data-test-menu-item-id]="'associate-template'"
          (click)="associateTemplate()">
        {{ (componentData.project.linkedTemplate ?
        'sqtm-core.administration-workspace.projects.dialog.title.disassociate-from-template' :
        'sqtm-core.administration-workspace.projects.dialog.title.associate-template.short') | translate }}
      </li>
      <li *ngIf="! componentData.project.template"
          nz-menu-item
          [attr.data-test-menu-item-id]="'transform-into-template'"
          (click)="coerceIntoTemplate()">
        {{ 'sqtm-core.administration-workspace.projects.dialog.title.coerce-into-template.short' | translate }}
      </li>
      <li nz-menu-item
          class="sqtm-core-error-message"
          [attr.data-test-menu-item-id]="'delete-project'"
          (click)="handleDelete()">
        {{ getDeleteItemLabel(componentData.project.template) | translate }}
      </li>
    </ul>

    </ng-container>
  </nz-dropdown-menu>

  <sqtm-core-attachment-drawer
    [canAttach]="true">
  </sqtm-core-attachment-drawer>
</ng-container>

<ng-template #loading>
  <sqtm-core-full-page-loading-icon></sqtm-core-full-page-loading-icon>
</ng-template>
