<div class="full-height full-width flex-column login-page neutral-background-color overflow-hidden"
     [sqtmCoreWorkspace]="'home-workspace'">
  <sqtm-core-horizontal-logout-bar class="flex-fixed-size full-width">
  </sqtm-core-horizontal-logout-bar>
</div>

