<sqtm-app-search-view [workspaceName]="'test-case-workspace'"
                      [titleKey]="'sqtm-core.search.test-case.title'"
                      [filters]="filters"
                      [filterGroups]="filterGroups">
  <ng-container>
    <div [attr.data-test-toolbar-id]="'test-case-research-toolbar'"
         class="current-workspace-main-color font-20-px m-r-10 flex-row button-bar">
        <span class="__hover_pointer">
          <sqtm-core-toggle-icon [active]="hasSelectedRows$ | async" (clickedInActiveMode)="massEdit()">
            <i [attr.data-test-toolbar-button-id]="'mass-edit-button'" nz-icon nzType="sqtm-core-generic:bulk_edition"
               class="action-icon-size" nzTheme="outline"
               nz-tooltip="{{ 'sqtm-core.search.requirement.modify.selection' | translate | capitalize}}"
            ></i>
          </sqtm-core-toggle-icon>
        </span>
      <span class="__hover_pointer">
          <sqtm-core-toggle-icon [active]="hasSelectedRows$ | async"
                                 (clickedInActiveMode)="massEditMilestones()">
          <i [attr.data-test-toolbar-button-id]="'edit-milestones-button'" class="action-icon-size" nz-icon
             nzType="sqtm-core-generic:link_milestone" nzTheme="outline" nzTooltipPlacement="topRight"
             nz-tooltip="{{ 'sqtm-core.search.requirement.modify.milestone-binding' | translate | capitalize}}"
          ></i>
          </sqtm-core-toggle-icon>
        </span>
      <span class="__hover_pointer" (click)="showExportDialog()">
          <i nz-icon nzType="sqtm-core-generic:export" nzTheme="outline" class="action-icon-size"
             nz-tooltip="{{ 'sqtm-core.search.requirement.export' | translate | capitalize}}"
          ></i>
        </span>
    </div>
  </ng-container>
</sqtm-app-search-view>
